body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  margin: auto;
  min-width: 310px;
  width: 80%;
  max-width: 600px;
  padding: 100px 0 10px;
  -webkit-animation: 300ms ease-out 0s 1 fadeIn;
  animation: 300ms ease-out 0s 1 fadeIn;
}
h1 {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3 {
  font-size: 18px;
  color: pink;
  text-align: center;
  
}
.offline h1,h3 {
  color: black;
}